<div class="rs-lg-12">
	<div class="rs-pad">
		<div class="card">
			<div class="dummy-image">
				<img src="{{img}}" />
			</div>
			<div class="crd-container">
				<div class="hover-over-title">
					<h3 class="scd">
						{{title}}
					</h3>
				</div>
				<div class="crd-content">
					<div class="crd-cont-p">
						<div class="hover-over">
							<p class="scd">
								{{content}}
							</p>
						</div>
						<div class="crd-cont-disp">
							<p class="scd">
								{{content}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>