<div class="content animated slideInRight" [ngClass]="{'slideOutDown':nav.slideOut}">
	<div class="lnd-hdr">
		<div class="lnd-hdr-pad">
			<img src="https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?h=350&auto=compress&cs=tinysrgb%201x,%20https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb%202x" />
			<div class="filter"></div>
		</div>
		<div class="title">
			<h1 class="scd">Welcome</h1>
			<div class="clear"></div>
			<h2 class="scd">I'm a web developer based in the North East of England</h2>
		</div>
	</div>

	<div class="rs-row">
		<div class="hm-img-hover">
			<div class="rs-lg-12 sec-title">
				<div class="rs-pad">
					<h2>About me<span class="thr">_</span></h2>
				</div>
			</div>

			<div class="rs-md-4">
				<div class="rs-pad">
					<div class="hm-about-img-container">
						<div class="hm-abt-img-hov"></div>
						<div class="hm-about-img">
							<img src="https://memegenerator.net/img/images/600x600/12113749/willem-dafoe-crazy-face.jpg" />
						</div>
					</div>
				</div>
			</div>

			<div class="rs-md-7">
				<div class="rs-pad">
					<h3>What I'm all about</h3>
					<p>
						I'm Ryan, I am a<span class="prm"> freelance fullstack web developer, </span>and love to create elegant, hand crafted websites build from the ground up. I love to push the boundaries of<span class="prm"> creativity and technicality </span>to create unique websites that<span class="prm"> look and feel beautiful. </span>Its not just about building a website, I want to get to know you, who you are and what your about and<span class="prm"> work with you </span>to create a website which helps portray that. 
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="rs-row">
		<div class="rs-lg-12 sec-title">
			<div class="rs-pad">
				<h2>My traits<span class="thr">_</span></h2>
			</div>
		</div>

		<div class="rs-lg-6">
			<div class="rs-row">
				<card title="Hand crafted websites"
				content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget"
				img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYto8R7uHndQGTb5Dt3X13N1qmWiFYEY0NK3RkKKOvSD_tnNfqbg"></card>

				<card title="Optimised for SEO"
				content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis."
				img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG5N9fxxKMqGejGpx5nXKjijmk8qNuA4KyrYGuhoI3rch4959P"></card>
			</div>
		</div>

		<div class="rs-lg-6">
			<div class="rs-row">
				<card title="All for one, one for all"
				content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient."
				img="https://cdn2.content.compendiumblog.com/uploads/user/816e3956-4847-41c0-b671-82cfea7863e0/e69af6b4-f485-43b8-8d21-6ff33d9c451e/Image/68e5f915dead94fe571aea3835a07e74/screen_shot_2011_06_24_at_8_39_40_am.png"></card>

				<card title="All for one, one for all"
				content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient."
				img="https://cdn2.content.compendiumblog.com/uploads/user/816e3956-4847-41c0-b671-82cfea7863e0/e69af6b4-f485-43b8-8d21-6ff33d9c451e/Image/68e5f915dead94fe571aea3835a07e74/screen_shot_2011_06_24_at_8_39_40_am.png"></card>
			</div>
		</div>
	</div>

	<div class="clear"></div>

	<div class="rs-row">
		<div class="rs-md-12 sec-title">
			<div class="rs-pad">
				<h2>Title<span class="thr">_</span></h2>
			</div>
		</div>
		<div class="clear"></div>
		<div class="boxes">
			<div class="rs-md-5">
				<div class="card-two">
					<div class="card-two-img">
						<img src="https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?h=350&auto=compress&cs=tinysrgb 1x, https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb 2x" />
						<div class="card-two-filter"></div>
					</div>
					<div class="card-two-content">
						<h3 class="scd">Title</h3>
						<p class="scd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
					</div>
				</div>
			</div>
			<div class="rs-md-7">
				<div class="card-two">
					<div class="card-two-img">
						<img src="https://images.pexels.com/photos/414720/pexels-photo-414720.jpeg?h=350&auto=compress&cs=tinysrgb 1x, https://images.pexels.com/photos/414720/pexels-photo-414720.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb 2x" />
						<div class="card-two-filter"></div>
					</div>
					<div class="card-two-content">
						<h3 class="scd">Title</h3>
						<p class="scd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
					</div>
				</div>
			</div>
			<div class="rs-md-8">
				<div class="card-two">
					<div class="card-two-img">
						<img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?h=350&auto=compress&cs=tinysrgb 1x, https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb 2x" />
						<div class="card-two-filter"></div>
					</div>
					<div class="card-two-content">
						<h3 class="scd">Title</h3>
						<p class="scd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
					</div>
				</div>
			</div>
			<div class="rs-md-4">
				<div class="card-two">
					<div class="card-two-img">
						<img src="https://images.pexels.com/photos/261510/pexels-photo-261510.jpeg?h=350&auto=compress&cs=tinysrgb 1x, https://images.pexels.com/photos/261510/pexels-photo-261510.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb 2x" />
						<div class="card-two-filter"></div>
					</div>
					<div class="card-two-content">
						<h3 class="scd">Title</h3>
						<p class="scd">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>